.CategoryIcon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(16%) saturate(7462%) hue-rotate(105deg) brightness(111%) contrast(100%);
}

.User {
  border-radius: 10px;
  padding: 0 4px 0 4px;
}